body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2d2d2d;
  background-color: #fff;
  font: 120%/1.5 "Helvetica Neue", sans-serif;
}

*, *::after, *::before{
  box-sizing: border-box;
}

.header-image {
  min-height: 300px;
  padding-bottom: 2rem;
  border-bottom: rgba(255,0,100, .2)
}

.person {
  color: #666;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(255,0,100, .2),
    2px 2px 12px rgba(255,255,0, .2),
    -2px 2px 12px rgba(0,255,255, .2);
}